* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0px;
    background-color: white;
}

.button-image {
    width: 25vw;
    height: 25vw;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    filter: drop-shadow(0 .5vw 1vw rgba(0, 0, 0, 0.774));
}

.heading {
    height: 3vw;
    background-color: #373A36;
    color: white;
    font-size: .8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    padding-top: 8vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}